@import 'https://fonts.googleapis.com/css?family=Montserrat&subset=latin-ext';

@font-face {
  font-family: montserrat-light;
  src: url(../fonts/montserrat-light.ttf); }

html, body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  color: #333; 
  max-width: 960px;
}

#labels {
  text-align: center;
  font-weight: normal;
  margin: 0px auto;
  margin-bottom: 25px;
  line-height: 30px; }

#area {
  text-align: center;
  margin-bottom: 10px; }
  #area span {
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #d7d7d7;
    border-radius: 20px;
    margin: 10px;
    font-weight: normal;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none; }
    #area span:hover {
      border: 1px solid #333; }
  #area span.active {
    border: 1px solid #333; }

#canvas_box {
  margin: 0px auto; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#canvas_cloud {
  display: none;
  position: absolute;
  width: auto;
  height: auto;
  text-align: center;
  top: 10px;
  left: 10px;
  border-radius: 10px;
  background-color: #fff;
  z-index: 99999;
  padding: 5px 10px;
  border: 1px solid lightgrey;
}

  #canvas_cloud p {
    margin: 0px;
    font-size: 12px;
    padding: 0px; 
  }

#canvas_wrapper {
  position: relative; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  
  canvas {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
}

#legends {
  text-align: center;
  margin: 0px auto;
  max-width: 620px;
  margin-bottom: 20px;
  margin-top: 20px; }
  #legends div {
    display: inline-block; }
    #legends div span {
      display: block;
      float: left;
      margin: 0px 5px;
      font-size: 11px; }
    #legends div span:nth-child(1) {
      width: 12px;
      height: 12px;
      border-radius: 6px;
      border: 1px solid #efefef; }
    #legends div span:nth-child(2) {
      margin-left: 0px; }

#source {
  display: inline-block;
  padding: 10px;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0px;
  max-width: 810px;
  color: #a7a9ac;
  float: right; }
  #source p {
    margin: 0px;
    text-align: right;
    font-family: montserrat-light; }

.source_ico {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url("../images/sprite_ico.jpg");
  background-size: auto 100%;
  float: right;
  margin: 4px; }

.source_ico.wyborcza {
  background-position: 0px 0px; }

.source_ico.biqdata {
  background-position: -35px 0px; }

.source_ico.biqmap {
  margin-left: 0px;
  background-position: -70px 0px; }

@media (max-width: 950px) {
  #source {
    max-width: 600px; } }

@media (max-width: 700px) {
  #source {
    max-width: 450px; } }
