body, html{
	padding:0px;
	margin:0px;
	font-family: arial;
}

body{
	background: #15273f;
	background-size: cover;
	background-attachment: fixed;
}

section{
	box-sizing: border-box;
}

.contener{
	width:960px;
	min-height:500px;
	margin:0px auto;
	margin-bottom: 20px; 
	background:#fff;
	height:auto;
	padding-top:45px;
	padding-bottom: 10px;
	background: #15273f;
	background-size: cover;
	position:relative;
	
	//overflow:hidden;

	.window_switch{

		margin:5px;
		overflow:hidden; 

		a, link{
			display:block;
			float:left;
			text-decoration:none;
			text-weight:bold;
			color:#000;
			padding:5px;
			font-size: 25px;

			&.active{
				text-decoration: underline;
			}

			&:hover{
				text-decoration: underline;
			}

		}
	}
}

#toolbar_top{

	height:80px;
	line-height:80px;
	padding:0px;
	background:#14273e;
	color:#fff;;
	width:100%;

	.select_maps{
		margin:0px 10px;
	}

	.save, .delete, .publish, #duplicate, a{
    background-color:#263860;
    border:2px solid #6d7be8;
    display:inline-block;
    color:#fff;
    padding:5px 20px;
    //height:36px;
    line-height: 20px;
    border-radius:15px;
    margin:5px;
    cursor:pointer;
    font-size:14px;
		outline:0px;
		text-decoration:none;
		font-style:normal;
		font-weight: bold;
		font-family: arial;
	}
	
	a.active{
		background-color:#6d7be8;
	}



	.logo{
		display:block; 
    width: 180px;
    height: 50px;
    margin-top:15px;
    margin-left:15px;
		background:url(../images/biqmap.png);
		background-size:100%;
		float:left;
		text-indent:-9999px;
	}

  span{
    float:right;
    margin-right:20px;
    font-weight: normal;
    font-style: italic;
  }

	.title{
		margin:0px;
		margin-left:20px;
		padding:0px;
		font-size:16px;
		float:left;
	}

	.menu_right{
		float:right;
    margin-right:20px;
    font-weight: normal;


		span{
			display: block;
			font-family: arial;
			font-size:12px;
			text-decoration: none;
			height:20px;
			line-height: 20px;
		}

		span.login{
			display:inline-block;
			height:80px;
			line-height: 80px;
			font-style: normal;
			margin: 0px 10px;
    	margin-left: 10px;
			float: left;
		}

/*
		a, button, span{
			display: block;
			color:#fff;
			font-weight: bold;
			font-style: normal;
			font-family: arial;
			font-size:12px;
			text-decoration: none;
			border:0px;
			background-color:rgba(170,170,170,1);
			padding:0px 10px;
			margin:0px;

			margin-left: 5px;
		//	border-radius: 10px;
			height:20px;
			line-height: 20px;

			display:inline-block;

			&:hover{
				cursor:pointer;
				background-color:rgba(255,0,0,1);
			}
		}*/

		button:first-of-type{
			margin-left:20px;
		}
	}

	.return{
		display:inline-block;
		background:green;
		border-radius:5px;
		padding:5px 15px;
		height: 20px;
		line-height: 20px;
		color:#fff;
		text-decoration: none;
		margin:0px 30px;

		&:hover{
			background:lightgreen;
		}
	}
}

footer{
	font-size:14px;
	font-style: italic;
	float:right;
	margin-right:50px;
}
